<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MP3-DELA-CRUZ_JOHN-SEG21-Sales-ServletConfig</display-name>
  <welcome-file-list>
    <welcome-file>homepage.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ComputeSalesServlet</servlet-name>
    <servlet-class>sales.controller.ComputeSalesServlet</servlet-class>
    <init-param>
  		<param-name>codeAGrossPercentage</param-name>
  		<param-value>0.5</param-value>
  	</init-param>
  	<init-param>
  		<param-name>codeBGrossPercentage</param-name>
  		<param-value>0.2</param-value>
  	</init-param>
  	<init-param>
  		<param-name>codeCGrossPercentage</param-name>
  		<param-value>0.25</param-value>
  	</init-param>
  	<init-param>
  		<param-name>codeAGrossValue</param-name>
  		<param-value>175</param-value>
  	</init-param>
  	<init-param>
  		<param-name>codeBGrossValue</param-name>
  		<param-value>100</param-value>
  	</init-param>
  	<init-param>
  		<param-name>codeCGrossValue</param-name>
  		<param-value>50</param-value>
  	</init-param>
  	<init-param>
  		<param-name>commissionPercentage</param-name>
  		<param-value>0.075</param-value>
  	</init-param>
  	<init-param>
  		<param-name>commissionStandard</param-name>
  		<param-value>2500</param-value>
  	</init-param>
  </servlet>
  <servlet>
  	<servlet-name>DisplayDataServlet</servlet-name>
    <servlet-class>sales.view.DisplayDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComputeSalesServlet</servlet-name>
    <url-pattern>/computesales.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayDataServlet</servlet-name>
  	<url-pattern>/display.html</url-pattern>
  </servlet-mapping>
</web-app>